/* Aninhamento e Referenciando seletor pai */
#conteudo {
    background: green;
    padding: 15px;

    h1 {
        color: black;
    }

    a {
        color:red;

        //indentificando que está atribuindo as configurações para o seletor pai
        &:hover {
            color: yellow;
        }
    }

}

/*Variaveis*/
$cor-titulo: red;
$tamanho-titulo: 20px;

h2 {
    color: $cor-titulo;
}

$cor-padrao: red;
#rodape {
    $cor-padrao: green; //escopo apenas do rodapé. Visível somente dentro do rodapé
    background-color: $cor-padrao; //green
}

h2 {
    color: $cor-padrao; //red
}

/*Interpolação*/
$classe: red;
$classe: vermelho;
$color: color;

.#{$classe}{ //vermelho 
    #{$color}: $classe;
}

/*-----for*/
@for $i from 1 through 3 { //executa de 1 até 3, inclusive o 3. Com o to vai de 1 a 2
    .item-#{$i} {
        background: green;
        margin-bottom: 2px;
    }
}

/*-----while*/
$contador: 1;
@while $contator<5 {
    .item-#{$contator} {
        background: orange;
        margin-bottom: 2px;
    }
    
    $contador: $contador +1
}

/*-----each*/
$lista: green, yellow, red;
$contador: 1;
@each $cor in lista {
    .item-#{$contator} {
        background: $cor;
        margin-bottom: 2px;
    }
    $contador: $contador +1
}

/*----- funções */
$total: 12;
@function largura-coluna($coluna){
    @return percentage($coluna/$total) /*convertendo o resultado para porcentagem*/
}

$resultado: largura-coluna(12);
//#{$resultado}

//criando um sistema de grids
@for $i from 1 through $total { 
    .col-#{$i} {
        background: green;
        width: largura-coluna($i);
    }
}

/*outras funcoes */
.alerta {
    //background: mix(green, orange, 30%); //mistura de cores
    //background: darken(orange, 20%); //deixa um cor mais escura
    background: lighten(orange, 20%); //deixa um cor mais clara
     
}